html,body{
    margin: 0;
    padding: 0;
    height:100%;
    width: 100%;
}
body{
    background-image: url('../images/test.jpg');
    -webkit-background-size:cover;
    background-size:cover;
    font:14px 'Helvetical ';
    color: #4d4d4d;
    font-smothing:antial;
    font-weight:300;
}
#footer{
    text-align center;
    margin 20px;
}